@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6a00ff;
  border-radius: 10px;
}

.scrollbar-hidden {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0.5em;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Flipping Card animation */
.flip-card-container {
  backface-visibility: hidden;
}

.flip-card {
  perspective: 2000px;
}

.flip-card-inner {
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.flip-card-front {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden !important;
}

.flip-card-back {
  position: absolute;
  top: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden !important;
}

.flip-card-back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  z-index: 1;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
}
